body {
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    background-color: #ffffff;
    overflow-x: hidden;
    color: black;
    text-align: center;
  }

  p {
    text-align: left;
  }

.navbar-brand{
    float: left;
  }

a {
    color: #FA7268; 
}

img {
  text-align: center;
}

a:hover {
  transition-duration: 0.7s;
  color: #34d4ae; 
}

.sticky {
    position: sticky;
    top: 0;
    background-color: #ffe3e3;
    z-index: 999;
  }

.container-fluid {
    margin: 0 5% 5% 5%;
    color: black;
    display: inline-block;
    max-width: max(70%, 1000px);
  }

  .caption {
    font-family: 'Roboto', sans-serif;
    font-size: max(16px, 1vw);
    text-align: center;
    font-style: italic;
  }

  .italic {
    font-style: italic;
  }

  .images {
    text-align: center;
  }

  .main-page {
    width: 90%;
  }

  .nav-link {
    font-size: 2vw;
    font-weight: bold;
    margin-right: 1vw;
    padding: 0px;
  }

  .nav-link {
    font-family: 'Raleway', sans-serif;
  }

  .nav-link:hover {
    color: #FA7268 !important;
  }

  .bio {
    padding-left: 5%;
  }

  .hello {
    padding: 0px;
  }

  .hello-gif {
    width: 100%;
    border-radius: 400px;
  }

  .name {
    font-size: 8vw;
    color: #FA7268;
    font-family: 'Raleway', sans-serif;
    text-align: left;
  }

  .title {
    font-size: 3vw;
    color: #FA7268;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-align: left;
  }

  .subheading {
    font-size: max(24px,2vw);
    color: #FA7268;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-align: left;
  }

  .subsubheading {
    font-size: max(18px,1.5vw);
    color: #FA7268;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    text-align: left;
  }

  .blog-post {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: max(16px, 1vw);
  }

  iframe {
    width: 100%;
    height: 90%
  }

  footer {
    text-align: center;
    background-color: #ffe3e3;
  }

  
  #intro {
    margin-top: 0px;
  }

  nav {
    text-align: left !important;
  }

  @media only screen and (max-width: 765px) {
    .container-fluid {
      max-width: 90%;
    }

    body {
      font-size: large;
    }

    .btn {
      padding: 5px;
    }

    .title {
      font-size: x-large;
    }

    .subheading {
      font-size: large;
    }

    .name {
      font-size: xx-large;
    }

    .nav-link {
      font-size: large;
      font-weight: bold;
      margin: 2px;
    }
  }